# Virtual environment
.venv/
venv/

# Environment variables
.env
*.env

# Airflow
airflow/logs/
airflow/plugins/__pycache__/
__pycache__/

# dbt
# dbt/profiles.yml

# Infra env files (important!)
infra/env/*.env

# Python
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store