# Airflow DB
AIRFLOW_POSTGRES_HOST=
AIRFLOW_POSTGRES_PORT=
AIRFLOW_POSTGRES_DB=
AIRFLOW_POSTGRES_USER=
AIRFLOW_POSTGRES_PASSWORD=

# Airflow Admin
AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_EMAIL=

# Airflow Core
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY=<generate via: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())">
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<user_name>:<password>@airflow-postgres:5432/<db_name>
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://<user_name>:<password>@airflow-postgres:5432/<db_name>
AIRFLOW__WEBSERVER__SECRET_KEY=<random 32-char string, generate via: openssl rand -hex 16>
AIRFLOW__CORE__TEST_CONNECTION=Enabled

AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__LOGGING__LOGGING_LEVEL=INFO

AIRFLOW__WEBSERVER__WORKERS=1
AIRFLOW__WEBSERVER__WORKER_CLASS=gthread
AIRFLOW__WEBSERVER__WORKER_TIMEOUT=120

AIRFLOW__SCHEDULER__PARSING_PROCESSES=1
AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL=30

AIRFLOW__CELERY__WORKER_CONCURRENCY=1

AIRFLOW__CORE__PARALLELISM=2
AIRFLOW__CORE__DAG_CONCURRENCY=1
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=1

# Source DB
SOURCE_POSTGRES_HOST=
SOURCE_POSTGRES_PORT=
SOURCE_POSTGRES_DB=
SOURCE_POSTGRES_USER=
SOURCE_POSTGRES_PASSWORD=

# Target DB
TARGET_POSTGRES_HOST=
TARGET_POSTGRES_PORT=
TARGET_POSTGRES_DB=
TARGET_POSTGRES_USER=
TARGET_POSTGRES_PASSWORD=

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_WAREHOUSE=