# Airflow DB
AIRFLOW_POSTGRES_HOST=
AIRFLOW_POSTGRES_PORT=
AIRFLOW_POSTGRES_DB=
AIRFLOW_POSTGRES_USER=
AIRFLOW_POSTGRES_PASSWORD=

# Airflow Admin
AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_EMAIL=

# Airflow Core
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY=your_generated_key
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<airflow_user>:<airflow_password>@airflow-postgres:5432/<airflow_db>
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://<airflow_user>:<airflow_password>@airflow-postgres:5432/<airflow_db>
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key

AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=
AIRFLOW__CORE__LOAD_EXAMPLES=
AIRFLOW__LOGGING__LOGGING_LEVEL=

# Source DB
SOURCE_POSTGRES_HOST=
SOURCE_POSTGRES_PORT=
SOURCE_POSTGRES_DB=
SOURCE_POSTGRES_USER=
SOURCE_POSTGRES_PASSWORD=

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_WAREHOUSE=